h1{
    font-family: 'Major Mono Display',monospace;
    font-size: 30px;
    padding : 2px;
    padding-left: 10px;
}

h2::first-letter{
    text-transform: lowercase;
    font-size: 36px;
    letter-spacing: 2px;
    color: #000000;
}

h2 {
    font-family: 'Major Mono Display', monospace;
    color:red;
}

#easy,#easy-medium,#insp,#calendar{
    padding-left: 2%;
    border-style: solid;
    padding-bottom: 10px;
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    border-radius : 10px;
    border-color: indianred;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(221,221,221,0.71);
-moz-box-shadow: 10px 10px 5px 0px rgba(221,221,221,0.71);
box-shadow: 10px 10px 5px 0px rgba(221,221,221,0.71);
}


a {
    target="_blank";
    text-decoration: none;
    color: #cb6fc3;
}

li {
    list-style: square;
    padding: inherit;
}


#space {
    padding: 20px;
}

#define{
    font-family: 'Major Mono Display',sans-serif;
    border-style: solid;
    border-color: indianred;
    padding: 2%;
    border-radius : 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(221,221,221,0.71);
-moz-box-shadow: 10px 10px 5px 0px rgba(221,221,221,0.71);
box-shadow: 10px 10px 5px 0px rgba(221,221,221,0.71);
}

body {
    padding-left: 2%;
    padding-right:2%;
    font-family: 'Montserrat', sans-serif;
}

#footer{
    display:inline-block;
    position:relative;
    padding: 2%;
    margin:0.4em;  padding:1em;
    cursor:pointer;
    background:#802222;  color:#ff5722; 
    z-index:0;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 120%;
}

#footer:before {
    content: "";
    position: absolute;
    z-index:-1;
    top: 0;  left: 0;  right: 0;  bottom: 0;
    background: #ffee58;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform .3s ease-out;
}

#footer:hover:before{transform: scaleX(1);}

#footerh {
    font-family: 'Major Mono Display';
    color: black;
}


#head {
    font-family:'Montserrat';
    padding-top: 2%;
    padding-left: 10px;
    padding-bottom: 2%;
}
